USE [master]
GO
/****** Object:  Database [posDB]    Script Date: 9/28/2018 5:08:18 PM ******/
CREATE DATABASE [posDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'posDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\posDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'posDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\posDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [posDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [posDB]
GO
USE [posDB]
GO
/****** Object:  Table [dbo].[buy]    Script Date: 9/28/2018 5:08:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buy](
	[buy_id_dtl] [int] NOT NULL,
	[buy_furnisher_name] [varchar](20) NOT NULL,
	[buy_user_id] [smallint] NOT NULL,
	[time_of_buy] [datetime] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[is_paid] [bit] NOT NULL,
 CONSTRAINT [PK__buy__863CBC3E3D11C6C7] PRIMARY KEY CLUSTERED 
(
	[buy_id_dtl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buy_details]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buy_details](
	[buy_id] [int] IDENTITY(1,1) NOT NULL,
	[buy_prod_barcode] [varchar](50) NOT NULL,
	[buy_prod_name] [varchar](50) NOT NULL,
	[qty] [smallint] NOT NULL,
	[buy_qty_value] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__buy_deta__F8F9DBAE7C1AC35C] PRIMARY KEY CLUSTERED 
(
	[buy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[card_points] [int] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furnisher]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furnisher](
	[f_name] [varchar](20) NOT NULL,
	[fiscal_nr] [varchar](30) NULL,
	[phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[f_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[barcode] [varchar](50) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[sale_price] [decimal](10, 2) NOT NULL,
	[buy_price] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[furnisher_name] [varchar](20) NOT NULL,
 CONSTRAINT [PK__product__C16E36F9475ECB70] PRIMARY KEY CLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_user_id] [smallint] NOT NULL,
	[customer_nr] [int] NULL,
	[time_of_sale] [datetime] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__sale__E1EB00B223A005B2] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_details]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_details](
	[sale_number] [int] NOT NULL,
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[sell_prod_barcode] [varchar](50) NOT NULL,
	[sell_prod_name] [varchar](50) NOT NULL,
	[qty] [smallint] NOT NULL,
	[sell_qty_value] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__sale_det__E1EB00B2165B2807] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[useri]    Script Date: 9/28/2018 5:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useri](
	[user_id] [smallint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[role] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[buy] ADD  CONSTRAINT [DF__buy__is_paid__5629CD9C]  DEFAULT ((1)) FOR [is_paid]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF__product__stock__59063A47]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[sale_details] ADD  CONSTRAINT [DF__sale_detail__qty__5AEE82B9]  DEFAULT ((1)) FOR [qty]
GO
ALTER TABLE [dbo].[buy]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Furnisher_Name] FOREIGN KEY([buy_furnisher_name])
REFERENCES [dbo].[furnisher] ([f_name])
GO
ALTER TABLE [dbo].[buy] CHECK CONSTRAINT [FK_Buy_Furnisher_Name]
GO
ALTER TABLE [dbo].[buy]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Id_Dtl] FOREIGN KEY([buy_id_dtl])
REFERENCES [dbo].[buy_details] ([buy_id])
GO
ALTER TABLE [dbo].[buy] CHECK CONSTRAINT [FK_Buy_Id_Dtl]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_Furnisher_Name] FOREIGN KEY([furnisher_name])
REFERENCES [dbo].[furnisher] ([f_name])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_Furnisher_Name]
GO
ALTER TABLE [dbo].[sale]  WITH NOCHECK ADD  CONSTRAINT [FK_customer] FOREIGN KEY([customer_nr])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[sale] CHECK CONSTRAINT [FK_customer]
GO
USE [master]
GO
